#recipe-details{
    min-width: 60%;
    min-height: 60%;
    // max-height: 80%;
    // margin-left: 5vh;
    // margin-right: 5vh;
    // margin-top: 5vh;
    // margin-bottom: 5vh;
    position: fixed;
    margin: auto;    
    // margin: 5vh;

    margin-left: 15vh;

}
#imgRouting{
    min-height: 50%;
}
#icon-categort{
    max-width: 10%;
    max-height: 10%;

}
body {
    background-color: #f5f7fa;
}
#mtContainer{
    min-width: 50vh;
    min-height: 50vh;
}