<ng-container class=".body">
<div class="card mb-3 container card" id="recipe-details">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ recipeDetails.imgRouting }}" alt="{{ recipeDetails.name }}"
        onerror="this.src='../../../../assets/recipe2.jpg'"
        class="img-fluid rounded-start" id="imgRouting">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ recipeDetails.name }}</h1>
        <div class="col-md-4" *ngIf="recipeDetails.category" style="display: flex;">
          <p>category: {{this.category.name}} | </p>
            <img src="{{this.category.icon}}" alt="{{this.category.name}}"
            class="img-fluid rounded-start" id="icon-categort" >
        </div>
        <ng-container *ngIf="recipeDetails.difficultyLevel">
          <ng-container class="difficulty-stars">
            <span *ngFor="let star of this.getDifficultyStars(recipeDetails.difficultyLevel)">
              <mat-icon>star</mat-icon>
            </span>
          </ng-container>
          <ng-container class="difficulty-stars">
            <span *ngFor="let star of this.getDifficultyStars(this.allDificulltyLevel-this.recipeDetails.difficultyLevel)">
              <mat-icon>star_border</mat-icon>
            </span>
          </ng-container>
        </ng-container>
        <div class="col-md-4" style="display: flex;"> 
          <mat-icon>schedule</mat-icon>
         <div>  {{ recipeDetails.minutes | formatTime }}</div>
        </div>
        <ng-container *ngIf="recipeDetails.ingredients" >ingredients: 
          <div *ngFor="let item of recipeDetails.ingredients">
            {{item}}
          </div>
        </ng-container>
        instructions: 
        <div *ngFor="let item of recipeDetails.instructions">
          <p class="preparation-step">{{item}}</p>
        </div>
        <p class="card-text">
          <small class="text-muted">create on {{recipeDetails.dateAdd}} by {{recipeDetails.user}}</small>
        </p>
      </div>
    </div>
    <div class="btn-group shadow-0" role="group" aria-label="Basic example" *ngIf="currentUserName==recipeDetails.user">
      <button type="button" class="btn btn-outline-secondary" data-mdb-color="dark" (click)="deleteRecipe()">
        <mat-icon>delete</mat-icon>
        delete
      </button>
      <button type="button" class="btn btn-outline-secondary" data-mdb-color="dark" (click)="editRecipe()">
        <mat-icon>edit</mat-icon>
        edit
      </button>
    </div>
  </div>
  </div>
</ng-container>