
#recipe-details {
    min-width: 60%;
    min-height: 60%;
    position: relative;
    margin: auto;
    margin-left: 15vh;
}
#imgRouting{
    min-height: 50%;
}
#icon-categort{
    max-width: 7vh;
    max-height: 5vh;

}
body {
    background-color: #f5f7fa;
}
#mtContainer{
    min-width: 50vh;
    min-height: 50vh;
}