<!-- <app-header></app-header> -->

<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('../../assets/backGroungImg2.gif');
    height: 80%;
    width: 100%;
    position: fixed;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1 class="text-white mb-0">wellcome to recipe web</h1>
    </div>
  </div>
</div>
<!-- Background image -->

<!-- <h1>wellcome to recipe web</h1> -->
<!-- Navbar-->

<!-- <app-footer></app-footer> -->