<div id="flex-container">
<button mat-icon-button (click)="toggleFilters()">
<mat-icon>filter_list</mat-icon>
</button>
<div class="filter-container" *ngIf="this.showFilters">
  <div class="input-container">
    <label for="name-filter">Filter by name:</label>
    <input id="name-filter" matInput placeholder="Enter name" required [(ngModel)]="filterName"
      (keyup)="filterRecipes()">
  </div>
  <div class="input-container">
    <label for="category-filter">Filter by category:</label>
    <select id="category-filter" [(ngModel)]="filterCategory" (change)="filterRecipes()">
      <option value="">All categories</option>
      <option *ngFor="let category of categories" [value]="category.name">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="input-container">
    <label for="duration-filter">Filter by preparation duration:</label>
    <input type="number" id="duration-filter" [(ngModel)]="filterDuration" (change)="filterRecipes()" matInput
      placeholder="Enter duration" required>
  </div>
</div>
</div>
<div id="recipe-grid">
  <app-small-recipe *ngFor="let recipe of filteredRecipes" [recipeChild]="recipe"></app-small-recipe>
</div>
