form{
    padding-top: 10vh;
    padding-left: 50vh;
    padding-right: 50vh;
  
  }
  h1{
    text-align: center;
  }
  
  /* Add this to your component's CSS */
  .recipe-form-container {
    margin: 0 auto;
    width: 50%; /* Adjust the width as needed */
  }
  