:host {
    display: block;
    padding-top: 10vh;
}

#homeButton {
    position: absolute;
    left: 20vh;
}

h1 {
    text-align: center;
    padding: 25vh;
}



ul {
    margin-top: 1.5vh;
    margin-bottom: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

nav {
    max-height: 10vh;
}
.myButtons{
    margin: 1.5vh;
    height: 5vh;
    background-color: white !important;
    color: #3387df !important; 

}
.myButtons mat-icon{
    color: #3387df !important; 

}
#userName{
    background-color: #3387df !important;
    color: white !important; 
    margin: 1.5vh;
    height: 7vh;
    width: 10vh;
}
